@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";
@theme {
  --font-cabinet-thin: "CabinetGrotesk-Thin";
  --font-cabinet-extralight: "CabinetGrotesk-Extralight";
  --font-cabinet-light: "CabinetGrotesk-Light";
  --font-cabinet: "CabinetGrotesk-Regular";
  --font-cabinet-medium: "CabinetGrotesk-Medium";
  --font-cabinet-bold: "CabinetGrotesk-Bold";
  --font-cabinet-extrabold: "CabinetGrotesk-ExtraBold";
  --font-cabinet-black: "CabinetGrotesk-Black";

  --font-redhat-light: "RedHatDisplay-Light";
  --font-redhat: "RedHatDisplay-Regular";
  --font-redhat-medium: "RedHatDisplay-Medium";
  --font-redhat-semibold: "RedHatDisplay-SemiBold";
  --font-redhat-bold: "RedHatDisplay-Bold";
  --font-redhat-extrabold: "RedHatDisplay-ExtraBold";
  --font-redhat-black: "RedHatDisplay-Black";

  --font-redhat-light-italic: "RedHatDisplay-LightItalic";
  --font-redhat-italic: "RedHatDisplay-Italic";
  --font-redhat-medium-italic: "RedHatDisplay-MediumItalic";
  --font-redhat-semibold-italic: "RedHatDisplay-SemiBoldItalic";
  --font-redhat-bold-italic: "RedHatDisplay-BoldItalic";
  --font-redhat-extrabold-italic: "RedHatDisplay-ExtraBoldItalic";
  --font-redhat-black-italic: "RedHatDisplay-BlackItalic";
}
